PUBLIC_CLOUDINARY_CLOUD_NAME=dgs7imgwl

# URLs complètes Cloudinary (recommandé) ou public_id sans extension
PUBLIC_CLOUDINARY_VIDEO_HERO=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060505/hero_jlb4cj.mp4
PUBLIC_CLOUDINARY_VIDEO_POURQUOI=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060578/garage-mecanicien_vx2dez.mp4
PUBLIC_CLOUDINARY_VIDEO_CARROSSERIE=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060585/carrosserie_gd8ihz.mp4
PUBLIC_CLOUDINARY_VIDEO_ACHAT=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060617/achat_gfitz2.mp4
PUBLIC_CLOUDINARY_VIDEO_APROPOS=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060596/apropos_v1ooqt.mp4
PUBLIC_CLOUDINARY_VIDEO_GARAGE_ATELIER=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060556/garage-atelier_qdqlra.mp4
PUBLIC_CLOUDINARY_VIDEO_GARAGE_PNEUS=https://res.cloudinary.com/dgs7imgwl/video/upload/v1780060521/garage-pneus_qqebhw.mp4
